<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Entry</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <hr>
        <h1>Login</h1>
        <hr>
		<form action="http://localhost:3000/login" method="POST">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input class="form-control" name="username">
            </div>

            <div class="form-group">
                <label for="Password">Password:</label>
                <input class="form-control" name="pass">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
		
		<hr>
        <h1>Create New Entry</h1>
        <hr>

        <form action="http://localhost:3000/entry_submission" method="POST">
            <div class="form-group">
                <label for="Teacher">Teacher:</label>
                <input class="form-control" name="teacher">
            </div>

            <div class="form-group">
                <label for="Subject">Subject:</label>
                <input class="form-control" name="subject">
            </div>
			
            <div class="form-group">
                <label for="Topic">Topic:</label>
                <textarea  class="form-control" name="topic"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
		<br>
		<div id="listingTable"></div>
		<a href="javascript:prevPage()" id="btn_prev">Prev</a>
		<a href="javascript:nextPage()" id="btn_next">Next</a>
		page: <span id="page"></span>
    </div>
	

	
	<script type="text/javascript">
		var teacher = [];
		var subject = [];
		var date = [];
		var topic = [];
		<% for (var i = 0; i < posts.length; i++) { %>
			teacher.push("<%=posts[i].teacher%>");
			subject.push("<%=posts[i].subject%>");
			date.push("<%=posts[i].created%>");
			topic.push("<%=posts[i].topic%>");
		<% } %>

		var current_page = 1;
		var records_per_page = 2;

		function prevPage()
		{
			if (current_page > 1) {
				current_page--;
				changePage(current_page);
			}
		}

		function nextPage()
		{
			if (current_page < numPages()) {
				current_page++;
				changePage(current_page);
			}
		}
			
		function changePage(page)
		{
			var btn_next = document.getElementById("btn_next");
			var btn_prev = document.getElementById("btn_prev");
			var listing_table = document.getElementById("listingTable");
			var page_span = document.getElementById("page");
		 
			// Validate page
			if (page < 1) page = 1;
			if (page > numPages()) page = numPages();

			listing_table.innerHTML = "";

			for (var i = (page-1) * records_per_page; i < (page * records_per_page); i++) {
				if(teacher[i] !== undefined) {
					listing_table.innerHTML += teacher[i] + " " + subject[i] + " " + date[i] + " " + topic[i] + "<br>";
				} else {
					listing_table.innerHTML += "";
				}
			}
			page_span.innerHTML = page;

			if (page == 1) {
				btn_prev.style.visibility = "hidden";
			} else {
				btn_prev.style.visibility = "visible";
			}

			if (page == numPages()) {
				btn_next.style.visibility = "hidden";
			} else {
				btn_next.style.visibility = "visible";
			}
		}

		function numPages()
		{
			return Math.ceil(teacher.length / records_per_page);
		}

		window.onload = function() {
			changePage(1);
		};
	</script>
</body>

</html>
